
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');


:root{
--cor-principal: #0d1282;
--cor-secundaria: #eeeded;
--fonte-principal: "Montserrat", sans-serif;

}

* {
  list-style: none;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--cor-principal);
  width: 100%;
  padding: 20px;
}

.flex {
  display: flex;
  font-size: 24px;
  color: var(--cor-secundaria);
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: auto;
  align-items: flex-start;
}

a {
  color: var(--cor-secundaria);
  text-decoration: none;
  gap: 20px;
}

li {
  padding: 2rem;
}

h1 {
  color: var(--cor-principal);
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

h2 {
  color: var(--cor-principal);
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

body {
  background-color: var(--cor-secundaria);
}

.promos {
  display: flex;
  justify-content:center;
  gap: 10px;
  margin-left: 30px;
}

/* .promos-2 {
  display: flex;
  justify-content:right;
  gap: 40px;
} */

.monte {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-left: 30px;
}

h3 {
  color: var(--cor-secundaria);
  font-size: 30px;
  padding: 20px;
  font-family: var(--fonte-principal);
}

.newsletter {
  color: var(--cor-secundaria);
  font-size: 22px;
  padding: 20px;
  margin-left: 10px;
  font-size: 22px;
}

.rodape {
  background-color: var(--cor-principal);
  padding: 2%;
  color: var(--cor-secundaria);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  /* width: 100%; */
  text-align: center;
 }

.redes {
  color: var(--cor-secundaria);
  font-size: 24px;
  display: block;
}

@media (max-width: 1200px){
  .cabecalho{
    width: 100%;
  }
  .cabecalho__nav{
    justify-content: center;
  }

  /* .flex{
    width: 100%;
  } */

  .corpo-principal{
    flex-direction: column-reverse;
    padding: 5%;
  }

  .promos{
    width: 100%;
  }
}